* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

body {
    font-family: sans-serif;
}

#top-bar {
    line-height: 100px;
    width: 100%;
    font-size: 30px;
    text-align: center;
    background-color: #FFCC00;
}

#nav-toggle {
    margin: 30px;
    padding: 10px;
    position: absolute;
    left: 0;
}

#nav-div {
    height: calc(100vh - 100px);
    width: 30%;
    background-color: #444;
    display: inline-block;
}

#nav-div ul li {
    padding: 20px;
    border-top: solid 1px #222;
    border-bottom: solid 1px #222;
    color: white;
    transition: background-color .25s;
    transition: padding .25s;
}

#nav-div ul li:hover {
    padding-left: 40px;
    color: black;
    background-color: #FFCC00;
}

#page-content {
    display: inline-block;
}

#generator {
    width: 50%;
    margin: 0 auto;
    background-color: #444;
}