* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

body {
    font-family: sans-serif;
}

#top-bar {
    line-height: 100px;
    width: 100%;
    font-size: 30px;
    text-align: center;
    background-color: #FFCC00;
}

#nav-toggle {
    margin: 30px;
    padding: 10px;
    position: absolute;
    left: 0;
}

#nav-div {
    height: calc(100vh - 100px);
    width: 25%;
    border-right: solid 15px #FFCC00;
    background-color: #444;
    display: inline-block;
    box-sizing: border-box;
    float: left;
}

#nav-div ul li {
    padding: 20px;
    border-bottom: solid 2px #222;
    color: white;
    transition: background-color .25s;
    transition: padding .25s;
}

#nav-div ul li:hover {
    padding-left: 40px;
    color: black;
    background-color: #FFCC00;
}

#page-content {
    padding-left: 20px;
    padding-top: 20px;
    display: inline-block;
}

#generator {
    width: 100%;
    max-width: 500px;
    margin-bottom:20px;
    border: solid 5px #DDAA00;
    border-radius: 20px;
    background-color: #FFCC00;
}

#generator li {
    padding: 10px;
    border-bottom: solid 2px #DDAA00;
    transition: background-color .25s;
    transition: padding-left .25s;
}

#generator li:first-child {
    border-radius: 20px 20px 0 0;
}

#generator li:last-child {
    border-bottom: none;
    border-radius: 0 0 20px 20px;
}

#generator li:hover {
    padding-left: 20px;
    color: white;
    background-color: #444;
}

#color-switcher ul li h4 {
    margin-right: 20px;
    float: left;
}